## 파이썬 HW5
이름: 이지연

학번: C189078

### 문제 1) 모양
주어진 기호와 중앙에서 부호의 최대 길이를 인수로 입력받아 삼각형 모양을 출력하는 함수
``` 
예) triangle('*', 3)   

*   
**   
***   
**   
*
```

In [1]:
def triangle(shape, max_num):
    ## 아래에 코드 작성
    for i in range(1, max_num + 1):
        print(shape * i)
    for i in range(max_num - 1,0, -1):
        print(shape * i)

In [2]:
# 문제 1 확인
triangle('$', 5)

$
$$
$$$
$$$$
$$$$$
$$$$
$$$
$$
$

### 문제 2)
연도를 입력받아 윤달인지 아닌지 판정하는 함수 is_leap_year() 작성
- 연도가 4로 나누어지면 윤년
- 예외1: 100으로 나누어지면 윤년이 아님
- 예외2: 100으로 나누어지는 해중 400으로 나누어지면 윤년
- 입력 검증은 안해도 됨

In [3]:
def is_leap_year(year):
    ## 아래에 코드 작성
    if  year % 4 == 0 and(year % 100 != 0 or year % 400 == 0):
        print(f"{year}년은 윤년입니다.")
    else:
        print(f"{year}년은 윤년이 아닙니다.")

In [4]:
# 문제1 확인
test = [2000, 2016, 2017, 2100]
for year in test:
    is_leap_year(year)

2000년은 윤년입니다.
2016년은 윤년입니다.
2017년은 윤년이 아닙니다.
2100년은 윤년이 아닙니다.

### 문제 3)
아래와 같이 실행되는 비밀번호 확인 프로그램을 작성하라.

실행 예) <br>
비밀번호를 입력하세요: 1234 <br>
비밀번호가 틀렸습니다. <br>

비밀번호를 입력하세요: my1234 <br>
환영합니다.

In [5]:
def check():
    key = 'my1234'

    while True:
        password = input("비밀번호를 입력하세요: ")

        if password == key:
            print("환영합니다.")
            break
        else:
            print("비밀번호가 틀렸습니다.")

In [6]:
# 문제3 확인
check()     # 1234와 my1234 입력하여 확인

비밀번호를 입력하세요: 1234
비밀번호가 틀렸습니다.
비밀번호를 입력하세요: my1234
환영합니다.

### 문제 4)
다음 합계를 반환하는 함수 sum_sq()를 작성하라

$$  \sum_{k=1}^{n} k^2 $$

In [7]:
def sum_sq(n):
    # 사이에 코드 작성
    result = 0
    
    # 사이에 코드 작성
    for k in range(1, n+1):
        result += k**2
        
    return result

In [8]:
# 문제 3 확인
sum_sq(10)

385

### 문제 5)
주어진 is_prime()함수를 이용해서, 숫자를 입력받아 받은 숫자의 갯수 만큼의 소수를 리스트로 반환하는 함수를 작성하라
- argument가 정수인지 검증하지 않음

In [9]:
def is_prime(n):
    prime = True    
    if n < 2:
        prime = False
    else:
        for i in range(2, n):
            if n % i == 0:
                prime = False
                break
    return prime

def get_prime(n):
    count = 0
    result = []
    number = 2
    
    # 사이에 코드 작성
    while count < n:
        if is_prime(number):
            result.append(number)
            count += 1
        number += 1
    
    # 사이에 코드 작성
    
    return result

In [10]:
# 문제 4 확인
result = get_prime(20)
print(result)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]

### 문제 6)
크기가 m x n인 2차원 행렬(리스트)에서 주어진 값 x 보다 큰 원소의 리스트와 합을 반환하는 함수를 작성하라

In [11]:
def sum_positive_element(a, x):
    
    result = []
    # 사이에 코드 작성
    result_sum = 0
    
    # 사이에 코드 작성
    for row in a:
        for element in row:
            if element > x:
                result.append(element)
                result_sum += element

    return result, result_sum

In [12]:
# 문제 6 확인
a = [[1,  2,  3,  4],
     [5,  2,  7,  8],
     [9, 10, 11, 12]]
result_list, result_sum = sum_positive_element(a, 7)
print(result_list)
print(result_sum)

[8, 9, 10, 11, 12]
50

### 문제 7)
(a) fibo()함수를 이용하여 n항까지 피보나치 수열의 리스트를 반환하는 함수 get_fibo()을 작성하라.

In [13]:
def fibo(n):
    if n == 1 or n == 2:
        return 1
    
    a,  b = 1, 1
    for i in range(1,n):
        a, b = b, a + b   # tuple 이용
    return a

def get_fibo(n):
    
    fibo_list = [fibo(i) for i in range(1, n+1)]
    # 아래에 코드 작성
    return fibo_list

In [14]:
# 문제 6 (a) 확인
get_fibo(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

(b) list comprehension과 fibo()함수를 이용해서 (a)번 문제를 한 줄로 코딩하시오.

In [15]:
# 한줄 코드 작성
def fibo(n):
    return 1 if n == 1 or n == 2 else sum([fibo(i) for i in range(1, n)])

print([fibo(i) for i in range(1, 11)])

[1, 1, 2, 4, 8, 16, 32, 64, 128, 256]

### 문제 8)
어떠한 입력이 들어와도 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성하라.

In [16]:
def avg_numbers(*args):
    # 아래에 코드 완성
    total_sum = sum(args)      
    count = len(args)         
    average = total_sum / count   
    return average

In [17]:
# 문제 8 확인
print(avg_numbers(1, 2))
print(avg_numbers(1, 2, 3, 4, 5))

1.5
3.0

### 문제 9)
다음 리스트는 축구선수의 last name, first name, position, hight(cm), weight(kg)을 리스트로 표시한 자료이다.

In [18]:
# [Last_name, first_name, position, height_cm, weight_kg]
football = [["Hwang", "Uijo", "FW", 183, 73], 
         ["Son", "Heungmin", "MF", 183, 78],
         ["Hwang", "Heechan", "MF", 177, 77], 
         ["Kim", "Minjae", "DF",190, 88], 
         ["Jo", "Hyeonwoos", "GK", 189, 75],
         ["Hong", "Chul", "DF", 176, 70],
         ["Park", "Jisu", "DF", 187, 77],
         ["Kim", "Shinwook", "FW", 196, 93]
         ]

a) 축구 선수 리스트를 last name 순으로 정렬하라.

In [19]:
# 1줄 code
football_sorted = sorted(football, key=lambda x: x[0])

b) 축구 선수 리스트를 키의 역순으로 정렬하시오.

In [20]:
# 1줄 code
football_sorted = sorted(football, key=lambda x: x[0], reverse=True)

c) 축구 선수 리스트를 키가 180이상인 선수를 체중이 무거운 순서부터 정렬하시오

In [21]:
# 1줄 code
football_sorted = sorted([player for player in football if player[3] >= 180], key=lambda x: x[4], reverse=True)

d) list comprehensio을 이용해서 축구 선수 리스트에서 full name list를 만드시오    
full name = first name + last name   
ex) Heungmin Son

In [22]:
# 1줄 code
full_name_list = [player[1] + ' ' + player[0] for player in football]